@import url(./__button-close/popup__button-close.css);
@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input-title/popup__input-title.css);
@import url(./__input-subtitle/popup__input-subtitle.css);
@import url(./__button-submit/popup__button-submit.css);
@import url(./_hidden/popup_hidden.css);
@import url(./_opened/popup_opened.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__photo/popup__photo.css);
@import url(./__caption/popup__caption.css);
@import url(./_image-background/popup_image-background.css);
@import url(./_form-background/popup_form-background.css);

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: flex;
}
