.header__logo {
    transition: ease all .5s;
    max-height: 33.4px;
    margin-bottom: 40.6px;
}


@media screen and (max-width: 842px) {
    .header__logo {
        max-height: 24.7px;
        margin-left: 27px;
        margin-bottom: 31.6px;
    }
}