.popup__input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 48px;
}

.popup__input:last-of-type {
    margin-bottom: 0;
}