.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin-bottom: 5px;
  margin-top: 18px;
  margin-right: 17px;
}

@media screen and (max-width: 375px) {
  .profile__title {
    font-size: 27px;
    line-height: 56px;
    margin-bottom: -7px;
    margin-right: 4px;
    max-width: 220px;
    padding-right: 4px;
  }
}
