@import url(./_action/popup__button-submit_action.css);
@import url(./_disabled/popup__button-submit_disabled.css);
@import url(./_loading/popup__button-submit_loading.css);
.popup__button-submit {
  width: 83.25%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  margin-bottom: 36px;
  box-sizing: border-box;
  align-self: center;
  outline: none;
}


.popup__button-submit:disabled {
  border: 1px solid;
}

.popup__button-submit:disabled:hover {
  cursor: default;
  background-color: transparent;
}