.popup__button-close {
    background-image: url(../../../images/Close-Icon.svg);
    background-size: contain;
    background-color: transparent;
    width: 40.7px;
    height: 40.7px;
    position: absolute;
    top: -36px;
    right: -36px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.popup__button-close:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: ease-in 0.3s;
}