.card__delete-button {
    background-image: url(../../../images/bin.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: contain;
    width: 18px;
    height: 19.3px;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 15px;
    outline: none;
}

.card__delete-button:hover {
    opacity: 0.6;
    transition: ease-in 0.3s;
    cursor: pointer;
}