@import url(./__title/card__title.css);
@import url(./__photo/card__photo.css);
@import url(./__like/card__like.css);
@import url(./__like/_active/card__like_active.css);
@import url(./__info-container/card__info-container.css);
@import url(./__delete-button/card__delete-button.css);
@import url(./__like-container/card__like-container.css);
@import url(__like-counter/card__like-counter.css);

.card {
    background-color: white;
    border-radius: 10px;
    position: relative;
}
