.popup__button-submit_action {
    background: black;
    pointer-events: all;
    color: white;
}

.popup__button-submit_action:hover {
    background-color:rgba(0, 0, 0, 0.8);
    transition: ease-in 0.3s;
    cursor: pointer;
}