.card__photo {
    height: 282px;
    width: 282px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 30px;
    box-sizing: border-box;
}

